.icon-manual {
    bottom: 140px;
    width: 150px;
    height: 380px;
    border: 3px solid #cccccc;
    padding: 10px;
    background-color: #b2ecee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.icon-manual h2 {
    font-size: 1em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-bottom: 10px;
    margin-top: -0.7px;
}

.icon-manual ul {
    list-style-type: none;
    padding: 0;
}

.icon-manual li {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1em;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-manual img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}