body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
}

.row {
    display: contents;
}

.cell {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.notification {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffeb3b;
    border: 1px solid #fbc02d;
    border-radius: 5px;
    text-align: center;
}

.cc {
    width: 48px;
    height: auto;
}

.pirate-ship {
    width: 42px;
    height: auto;
}

.monster {
    width: 36px;
    height: auto;
}

.island {
    width: 48px;
    height: auto;
}

.treasure {
    width: 48px;
    height: auto;
}

.grid-icons {
    width: 100%;
    height: auto;
}

.go-back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 8px 18px;
    background: #ff8c00;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

.go-back-button:hover {
    transform: translateY(5px);
    /* Move up on hover */
    /*  transform: translateX(-5px); /* Move left on hover */
    background: #f76a0d;
}

.toast-message {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #d41957;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 16px 32px;
    border-radius: 10px;
    /* box-shadow: 0 8px 24px rgba(0,0,0,0.18); */
    box-shadow: #da0f4c;
    z-index: 2000;
    font-size: 1.2rem;
    opacity: 0.95;
    pointer-events: none;
    animation: fadeInOut 1.5s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-30px);
    }

    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-30px);
    }
}